/vendor
/node_modules

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/app/public
/storage/logs

/bootstrap/cache

.env
.env.*
!.env.example

.phpunit.result.cache
/.phpunit.cache

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

Homestead.json
Homestead.yaml
auth.json

/.idea
/.vscode
/.fleet
.DS_Store
Thumbs.db
